{
  "extends": "airbnb/base",

  "rules": {
    "valid-jsdoc": [2, {
      "requireReturn": false,
      "requireReturnDescription": false,
      "prefer": {
        "returns": "return"
      }
    }],
  }
}
